# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/consumer_empowerment_and_market_conduct_wg_action_plan-0.pdf
data/*.csv
Tamweel_MVP/data/*.csv
